{% extends 'base.html.twig' %}

{% block body %}

	<nav class="navbar home">
		<a class="logo" href="{{ path('LogInHomePage') }}"><img src="assets/logo.png"></a>
		<a class="main-link" href="{{ path('SummonPage') }}">SUMMON</a>
        <a class="main-link" href="{{ path('CollectionPage') }}">COLLECTION</a>
        <div class="profil">
            <p>
                <strong>Jean-Jacques</strong><br>
                Novice | 200BV
            </p>
        </div>
	</nav>

	<section class="container">
		<div class="container-collection">
			<div class="card" style="background-image: url(assets/img/benoit_hamon.png)">
				<div style="background-image: url(assets/gold_card.png); display: flex;">
					<span class="card-name">Benoit Hamon</span>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<a href="{{ path('LogOutPage') }}">Log out</a>
	</footer>
{% endblock %}