<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="assets/favicon.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Matignon:TheGathering</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/style.css" />
	<!-- <script src="main.js"></script> -->
</head>

<body>
	<nav class="navbar home">
		<a class="logo" href="{{ path('LogInHomePage') }}"><img src="assets/logo.png"></a>
		<a class="main-link" href="{{ path('SummonPage') }}">SUMMON</a>
        <a class="main-link" href="{{ path('CollectionPage') }}">COLLECTION</a>
        <div class="profil">
            <p>
                <strong>Jean-Jacques</strong><br>
                Novice | 200BV
            </p>
        </div>
	</nav>

	<section class="container">
		<div class="container-collection">
			<div class="card"><img src="assets/template.png" draggable="false"></div>
		</div>
	</section>
</body>

</html>