<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="assets/favicon.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Matignon:TheGathering</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/style.css" />
	<!-- <script src="main.js"></script> -->
</head>

<body>
	<nav class="navbar">
		<a class="logo" href="{{ path('LogOutHomePage') }}"><img src="assets/logo.png"></a>
		<a class="main-link" href="{{ path('SignUpPage') }}">SIGN UP</a>
	</nav>

	<section class="container">
		<div class="form-container">
			<p>Log In</p>
			<form id="new_user" action="" accept-charset="UTF-8" method="post">
				<div class="form-group">
                    <input placeholder="Username or Email" autofocus="autofocus" class="form-control" type="text" value="" name="user[login]" id="user_login">
                    <input placeholder="Password" autocomplete="off" class="form-control" type="password" name="user[password]" id="user_password">
				</div>
				<button name="button" type="submit">LOG IN</button>
			</form>

			<div class="form-footer">
				<a class="sub-link" href="{{ path('SignUpPage') }}">SIGN UP</a>
				<a class="sub-link" href="">FORGOT?</a>
			</div>
		</div>
	</section>
</body>

</html>