<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="assets/favicon.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Matignon:TheGathering</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen" href="assets/style.css" />
	<!-- <script src="main.js"></script> -->
</head>

<body>
	<nav class="navbar home">
		<a class="logo" href="log_in_home.html"><img src="assets/logo.png"></a>
		<a class="main-link" href="summon.html">SUMMON</a>
        <a class="main-link" href="collection.html">COLLECTION</a>
        <div class="profil">
            <p>
                <strong>Jean-Jacques</strong><br>
                Novice | 200BV
            </p>
        </div>
	</nav>

	<section class="container">
		<div class="container-summon">
			<div class="summon"><img src="assets/template.png" draggable="false"></div>
			<div class="home-buttons">
				<a>SUMMON A NEW POLITICIAN</a>
			</div>
		</div>
	</section>
</body>

</html>